*,
:before,
:after {
 text-rendering: optimizelegibility;
 shape-rendering: geometricprecision;
 -webkit-font-smoothing: antialiased;
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 user-select: none;
 margin: 0;
 padding: 0;
}
html,
body {
 min-width: 100%;
 min-height: 100%;
 overflow: visible;
}
@media (max-width: 1023px) {
 html,
 body {
  overflow: auto;
 }
 .scrollable-layout {
  min-width: 1024px;
  overflow: auto;
 }
}
.full-height {
 height: 100%;
 min-height: 100vh;
}
#background {
 z-index: -1;
 background: url(/Pundi-Niaga-Khatulistiwa/assets/background-MdkC1NI9.webp) bottom/cover no-repeat;
 width: 100vw;
 min-width: 100%;
 height: 100vh;
 min-height: 100%;
 position: fixed;
 top: 0;
 left: 0;
}
.router-enter-active,
.router-leave-active {
 transition-property: opacity;
 transition-duration: 0.56s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.router-enter-from,
.router-leave-to {
 opacity: 0;
}
.router-enter-to,
.router-leave-from {
 opacity: 1;
}
.container[data-v-0730754f]::-webkit-scrollbar {
 display: none;
}
.container[data-v-0730754f] {
 width: 410px;
 height: 100%;
 padding: 8px;
 position: fixed;
 top: 0;
 right: 0;
 overflow: auto;
}
.alert-enter-active[data-v-0730754f],
.alert-leave-active[data-v-0730754f] {
 transition-property: transform, opacity;
 transition-duration: 0.56s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.alert-enter-from[data-v-0730754f],
.alert-leave-to[data-v-0730754f] {
 opacity: 0;
}
.alert-enter-to[data-v-0730754f],
.alert-leave-from[data-v-0730754f] {
 opacity: 1;
}
.alert-list-enter-active[data-v-0730754f],
.alert-list-leave-active[data-v-0730754f] {
 transition-property: transform, opacity;
 transition-duration: 0.56s;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.alert-list-leave-to[data-v-0730754f] {
 opacity: 0;
 transform: translateY(-30px);
}
.alert-list-enter-from[data-v-0730754f] {
 opacity: 0;
 transform: translateY(30px);
}
.alert-list-enter-to[data-v-0730754f],
.alert-list-leave-from[data-v-0730754f] {
 opacity: 1;
 transform: translateY(0);
}
